@import "tailwindcss";

* {
  font-family: var(--font-inika);
}
body {
  
}
p {
  font-size: 14px;
}
h1 {
  font-family: var(--font-montserrat);
}

p {
  font-family: var(--font-montserrat);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}