@import "tailwindcss";

* {
  font-family: var(--font-inika);
}
body {
  background-color: #7D6B51;
  color: #ffffff;
}
h1 {
  font-family: var(--font-montserrat);
}

p {
  font-family: var(--font-montserrat);
}